/* css inbox html */
.contentInbox{
    width: 100%;
    background-color: var(--secondary-background);
    padding-top: var(--highHeader);
    padding-bottom: 10px;
}

.main_contentInbox{
    display: flex;
    max-width: 935px;
    height: 600px;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    background-color: white;
}

.inboxUser{
    width: 350px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.contentInboxUser{
    flex-grow: 1;
}

.header_inbox{
    padding: 12px;
    display: flex;
    align-items: center ;
}

.header_inbox--boxnameuser{
    flex-grow: 1;
    padding: 0 auto;
}

.header_inbox--boxnameuser{
    background-color: white;
}

.header_inbox--username{
    font-weight: 600;
    color: var(--textcolor);
    font-size: 14px;
    margin: 0;
}

.header_inbox--icondown{
    display: inline-block;
    transform: rotate(180deg);
}



/* css list messenge user */
.box_messagelist{
    border-right: 1px solid #ccc;
    display: block;
    height: 100%;
    overflow-y: auto;
}

.box_messageusers{
    padding: 8px 20px 8px 20px;
    display: flex;
    width: 100%;
    align-items: center;
}

.box_messageuser{
    flex-grow: 1;
    padding-left: 13px;
}

.box_messageuser--name{
    font-weight: 600;
    color: var(--textcolor);
    font-size: 14px;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 20px;
}

.box_messageuser--active{
    color: var(--secondarycolortext);
    margin: 0;
    font-weight: 100;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 20px;
}

.box_messageusers:hover{
    background-color: rgb(232, 229, 229);
    cursor: pointer;
}


/* css messenge */
.contentInboxUser{
    display: flex;
    align-items: center;
}

.box_messenge{
    margin: auto 0px;
    height: 30%;
    width: 100%;
    text-align: center;
    /* display: none; */
}

.box_messenge .iconInbox{
    display: block;
    margin: 0 auto;
}

.box_messenge .titleInbox1{
    padding: 5px 0px;
    font-size: 20px;
}

.box_messenge .titleInbox2{
    padding: 5px 0px;
    font-size: 15px;
    color: var(--secondarycolortext);
}

.box_messenge .btnSendMessenge{
    display: block;
    background-color: rgb(0,149,246);
    color: white;
    font-size: 15px;
    height: 30px;
    padding: 5px;
    border-radius: 3px;
    text-align:  center;
    margin: 0 auto;
}

.box_messenge .btnSendMessenge:hover{
    cursor: pointer;
}


/* click messenge */
.boxchat{
    width: 100%;
    height: 100%;
    display: none;
}

.boxchat_header{
    height: 50.4px;
    border-bottom: 1px solid #ccc;
    padding: 0 20px;
    display: flex;
}

.boxchat_header--iconDetail{
    background-color: white;
}

.boxchat_header .box_messageusers:hover{
    background-color: white;
    cursor: pointer;
}

.boxchat_header--iconDetail{
    cursor: pointer;
}

/* click icondetail */
.boxchatdetail{
    width: 100%;
    height: 100%;
    display: none;
}

.boxchatdetail_header{
    height: 50.4px;
    border-bottom: 1px solid #ccc;
    padding: 0 20px;
    display: flex;
    align-items: center;
}

.boxchatdetail_header--tittle{
    width: 100%;
    text-align: center;
    font-weight: 600;
    font-size: 15px;
}

.boxchatdetail_checknotification{
    padding: 20px;
    font-size: 14px;
    border-bottom: 1px solid #ccc;
}

.boxchatdetail_aboutuser--tittle{
    padding: 5px 0px;
    font-weight: 600;
    font-size: 15px;
    opacity: 0.8;
}

.boxchatdetail_aboutuser{
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

.boxchatdetail_aboutuser .box_messageusers:hover{
    background-color: rgb(245, 245, 245);
}

.boxchatdetail_aboutuser .box_messageusers{
    padding-left: 0;
    padding-right: 0;
}

.boxchatdetail_feature{
    padding: 20px;
    color: rgb(240, 82, 82);
    font-size: 15px;
    line-height: 30px;
    border-bottom: 1px solid #ccc;
}
